:root {
    --ofb-l1-count: 2000;
    --ofb-l1-color: rgba(127, 55, 55, 0.0055125);
    --ofb-l1-color-active: rgba(255, 176, 150, 0.165375);
    --ofb-l1-drift-min: 0.25;
    --ofb-l1-drift-max: 0.75;
    --ofb-l1-size-min: 0.5;
    --ofb-l1-size-max: 0.5;
    --ofb-l1-push: 3072;
    --ofb-l1-alpha: 0.95;
    --ofb-l1-alpha-var: 0.15;
    --ofb-l1-speed: 1;

    --ofb-l2-count: 750;
    --ofb-l2-color: rgba(127, 55, 55, 0.275625);
    --ofb-l2-color-active: rgba(255, 125, 125, 0.385875);
    --ofb-l2-drift-min: 0.75;
    --ofb-l2-drift-max: 1.5;
    --ofb-l2-size-min: 1.5;
    --ofb-l2-size-max: 5;
    --ofb-l2-push: 2048;
    --ofb-l2-alpha: 0.5;
    --ofb-l2-alpha-var: 0.5;
    --ofb-l2-speed: 0.75;

    --ofb-l3-count: 250;
    --ofb-l3-color: rgba(127, 55, 55, 0);
    --ofb-l3-color-active: rgba(167, 130, 130, 0.55125);
    --ofb-l3-drift-min: 5;
    --ofb-l3-drift-max: 10;
    --ofb-l3-size-min: 5;
    --ofb-l3-size-max: 25;
    --ofb-l3-push: 1024;
    --ofb-l3-alpha: 0.75;
    --ofb-l3-alpha-var: 0.15;
    --ofb-l3-speed: 0.5;
}

.outforblood-field,
.outforblood-field-blur,
.outforblood-field-glow {
    position: fixed;
    inset: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.outforblood-field {
    filter: none;
}

.outforblood-field-blur {
    filter: blur(3px);
}

.outforblood-field-glow {
    filter: blur(9px);
}
